# .env
RESOURCE_GROUP="REPLACE ME"
VM_NAME="REPLACE ME"
USER_NAME="REPLACE ME"
SUBSCRIPTION_ID="REPLACE ME"
TENANT_ID="REPLACE ME"

LOCATION="westus2"
SSH_KEY="~/.ssh/id_rsa.pub"
SSH_PRIV_KEY="~/.ssh/id_rsa"
VM_SIZE="Standard_D8as_v5"
OS_DISK_SIZE_IN_GB="200"

# This time is in UTC. For example, 0700 is 12:00 AM PST.
VM_AUTO_SHUTDOWN_TIME = "0700"
